@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --clr-dark-cyan: 158 36% 37%;
    --clr-dark-cyan-hover: 158 50% 25%;
    --clr-cream: 30 38% 92%;

    --clr-very-dark-blue: 212 21% 14%;
    --clr-dark-grayish-blue: 228 12% 48%;
    --clr-white: 0 0% 100%;

    --fs-500: 0.875rem;
}

body {
}

main {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--fs-500);
    font-weight: 500;

    min-height: 100vh;
    background-color: hsl(var(--clr-cream));


    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card {
    overflow: hidden;
    max-width: 330px;

    background-color: hsl(var(--clr-white));

    border-radius: 0.75em;
    color: hsl(var(--clr-dark-grayish-blue));
}

@media screen and (min-width: 768px) {
    .product-card {
        max-width: 600px;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 50% 50%;
    }

    .product-card__picture {
    }

    .product-card__picture img {
        display: block;
    }

    .product-card__content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}

.product-card__picture {
    object-fit: cover;
}

.product-card__content {
    padding: 1.3rem;
}

.product-card__content > * + * {
    margin-top: 1rem;
}

.product-card__content__category {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

.product-card__content__title {
    margin-top: 0.5rem;
    line-height: 1;

    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 2rem;

    color: hsl(var(--clr-very-dark-blue));
}

.product-card__content__description {
    line-height: 1.5;
}

.product-card__content__price {
    display: flex;
}

.product-card__content__price__current {
    display: inline;
    color: hsl(var(--clr-dark-cyan));
    font-family: 'Fraunces', serif;
    font-size: 2rem;
}

.product-card__content__price__past {
    display: inline;
    margin-block: auto;
    padding-left: 1rem;

    text-decoration-line: line-through;
}

.validation-button {
    display: block;
    width: 100%;

    font-weight: 700;

    padding-block: 0.875rem;
    border-radius: 0.5em;

    background-color: hsl(var(--clr-dark-cyan));

    color: hsl(var(--clr-white));
    text-align: center;
}

.validation-button:hover, .validation-button:focus {
    background-color: hsl(var(--clr-dark-cyan-hover));
}

.validation-button > * {
    display: inline;
    vertical-align: middle;
}

.validation-button > * + *{
    padding-left: 0.5rem;
}

@media screen and (min-width: 768px) {
    .product-card__content__title {
        margin-top: 1rem;
    }

    .product-card__content__description {
        line-height: 1.7;
    }

    .product-card__content {
        padding: 2rem;
    }
}

/* Attribution */

.attribution {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
